@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

:root {
  --bg-color: #242424;
  --card-color: rgb(23, 23, 23);
  --font-family: "Pixelify Sans", sans-serif;
}
*{
  font-family: var(--font-family) !important;
}
body{
    color: white;
    font-size: 150%;
    background-color: var(--bg-color);
    display: flex;
    margin: 0px;
    padding: 0px; 
}



.content{
    width: 100vw;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}




header{
    display: flex;
    justify-content: space-between;
    width: 97%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: rgba(255, 255, 255, 0.11) 2px dashed;
    background-color: rgba(20, 20, 20, 0.486);

    transition: all 220ms ease-in-out;
    position: sticky;
    top: 0;
    z-index: 2;

}
header:hover{
    border: rgba(255, 255, 255, 0.237) 2px dashed;
    border-radius: 5px;
    background-color: rgba(20, 20, 20, 0.663);

}
header>em{
  font-size: smaller;
}

.title{
  display: flex;
  align-items: center;
  font-size: smaller;
}

.links{
  display: flex;
  align-items: center;
  font-size: smaller;
}
.links>span{
  font-family: "Pixelify Sans", sans-serif;
  font-size: smaller;
  margin-right: 20px;
}

.link-button{
   display: inline-block;
  color: white;
  padding: 3px;
  border-radius: 4px;
  transition: 
      color 500ms,
      transform 0.3s ease-in-out;
}
.link-button:hover{
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1.05);
  transform-origin:center;
  color: #e4b665;
  transition: color 0s;
  background-color: rgba(20, 60, 75, 0.438);
}
.link-button:nth-of-type(1):hover{
  transform: scale(1.2) rotate(-5deg);
}
.link-button:nth-of-type(2):hover{
  transform: scaleX(1.15) scaleY(1.15) scaleZ(1.15);
}.link-button:nth-of-type(3):hover{
  transform: scale(1.2) rotate(5deg);
}

.dot{
    color: rgba(255, 255, 255, 0.581);
    padding-left: 10px;
    padding-right: 10px;
}

.icon:hover{
  transform: translateY(-4px);
}



.elf{
  transition: all .3s ease-in-out;
} 
.elf:hover{
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1.05);
}
.bellMove{
  transform: translateX(-180px);
}
.bell{
  position: fixed;
  right: -200px;
  bottom: 0;
  transition: all .3s ease-in-out;
  z-index: 1;
}



section{
  background: #242424;
  background: linear-gradient(0deg, rgba(36, 36, 36, 1) 63%, rgba(0, 0, 0, 0.35) 100%);
  transition: background .5s ease-in-out;
}


.book-container{
  margin-top: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 1;
  position: relative;
  pointer-events: none
}
.book-container>h4{
  margin: 0;
  font-weight: lighter;
}
.book-container *{
  pointer-events: auto;
}
.pink{
  color: rgb(241, 127, 146);
  font-family: "Pixelify Sans", sans-serif;
  font-style: italic;
}

.book{
  width: 40%;
  height: 23vw;
  background-image: url(bookSprite.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 5%;
  margin: 8px;
  color: black;

  display: flex;
  flex-direction: row;
}
.right-page, .left-page{
  width: 50%;
  height: 23vw;
  font-size: 1.6vw;
}
.left-page{
  margin-right: 5px;
}
.left-page>h3{
  margin: 0;
}
.right-page{
  display: flex;
  align-items: center;
  justify-content: center;
}



.projects{ 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;

  box-shadow: inset 5px 5px 10px #1a1a1a,
              inset -5px -5px 10px #2e2e2e;   
}

.projects-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.pink-separator{
  width: 40vw;
  height: 2px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(241, 127, 146);
  border: 0;
}
.projects-header>h2{
  animation: wobble 2s ease-in-out infinite;
  margin: 10px;
}

@keyframes wobble {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}



.projects-tile{
  width: 50%;
  height: 200px;
  transition: all 0.2s ease-in-out;
  
  border-radius: 5px;
}
.projects-tile>span{
  backdrop-filter: blur(12px);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects-tile:hover{
  transform: scale(1.01);
}
.projects-tile>span>h4{
  margin: 0;
}
.projects-tile>span>hr{
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.projects-tile>span>a{
  text-decoration: underline;
  color: orange;
}

.project-items{
  display:flex;
  flex-wrap: wrap;
}
.circle {
  width: 140px;
  height: 140px;
  position: absolute;
  background-color: var(--bg-color);
  left:50%;
  transform: translate(-50%,90%);
  border-radius: 50%;

  z-index: 1;
}


.top-left-project{
  background-image: url(gra.png);
  background-position: center;
  background-size: 100%;
}
.top-left-project>span{
  background: rgba(0, 0, 0, 0.552); 
}

.top-right-project{
  background-image: url(todo.png);
  /* background-color: rgba(0, 128, 0, 0.419); */
  background-position: 0% 35%;
  background-size: 100%;
}
.bottom-left-project{
  background-image: url(wither.png);
  /* background-color: rgba(0, 0, 163, 0.419); */
  background-position: 0% 20%;
  background-size: 100%;
}
.bottom-left-project::before{
  z-index: 3;
  backdrop-filter: blur(20px);
  left: 0;
  right: 0;
  width: 50%;
  height: 200px;
}
.bottom-right-project{
  background-image: url(https://media.tenor.com/G0OBtQPRa40AAAAM/cat-funny-looking-camera-cat-smurf.gif);
  background-position: 0% 40%;
  background-size: 100%;
}
.bottom-right-project>span{
background: rgba(0,0,0,0.4); 
}


.additional-info{
  width: 80%;
  height: 25vw;
  background: #295C7A;
  background: linear-gradient(172deg,rgba(41, 92, 122, 1) 0%, rgba(93, 97, 122, 1) 100%);

  border-radius: 8px;
  margin: 25px;
  padding-top: 0;

  box-shadow: inset;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  font-size: 1.6vw;
  color: rgba(255, 255, 255, 0.804);
}

.additional-info>hr{
  width: 80%;
}
.additional-info>h2{
  margin: 10px;
  font-family: "Jacquard 24", system-ui !important;
  font-weight: 400;
  font-style: normal;
  font-size: 250%;

  color: white;
}

.languages{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px rgba(255, 255, 255, 0.30) solid;
  border-right: 3px rgba(255, 255, 255, 0.30) solid;
  border-radius: 10px;
  width: 85%;

  gap: 4%;
  margin: 20px;
  margin-bottom: 10px;
}

.languages>a{
  width: 100%;
  transition: transform 220ms ease-in-out;
  text-align: center;
}
.languages>a:hover{
  transform: translateY(-10px) scale(1.05);
}




.vsc{
  background-color: rgba(255, 255, 255, 0.078);
  padding: 8px;
  border-radius: 5px;
}



footer{
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.700);
  /* height: 100px; */
  width: 100%;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);

  margin-top: 30px;
  margin-bottom: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: small;

  color: rgba(255, 255, 255, 0.308);

  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer>hr{
  height: 1px !important;
  color: rgba(241, 127, 146, 0.619) !important;
}



/* .glow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-image: linear-gradient(#054766 10%, #ffffff);
    filter: blur(80px);
    transition: transform 120ms ease-out;
    transition: width,height 80ms ease-in-out;

    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 25px), -50%);
    z-index: -1;
} */